article {
  width: 600px;
  margin: 0 auto;
  font-size: 18px;
}

time {
  float: left;
  font-weight: bold;
  margin: 0 2rem 1rem 0;
}

.quote-right {
  float: right;
  margin: 20px 10px 0px 0px;
  border-left: 4px solid blue;
  padding-left: 2rem;
  position: relative;
  width: 250px;
}

.quote-left {
  float: left;
  margin: 20px 10px 0px 80px;
  border-right: 4px solid blue;
  padding-right: 2rem;
  position: relative;
}

.photo-left {
 float: left;
 margin: 20px 0px 0px -80px
 
}

blockquote:before {
  color: #ccc;
  content: open-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-right: 0.25em;
  vertical-align: -0.4em;
}

blockquote:after {
  color: #ccc;
  content: close-quote;
  font-size: 4em;
  line-height: 0.1em;
  margin-left: 0.25em;
  vertical-align: -0.4em;
}

.image-caption {
  background: tomato;
  padding: 5px;
  color: white;
}